@namespace PfsDevelUI.Components

<MudDialog>
    <TitleContent>
        <MudToggleIconButton Toggled="@_fullscreen" ToggledChanged="OnFullScreenChanged"
                        Icon="@Icons.Material.Filled.Fullscreen" Color="@Color.Error"
                        ToggledIcon="@Icons.Material.Filled.Fullscreen" ToggledColor="@Color.Success" />
        @if (UseCase == UseCaseID.REGISTER)
        {
        <b>Register new account:</b>
        }
        @if (UseCase == UseCaseID.CHANGE_EMAIL)
        {
        <b>Change email address:</b>
        }
        @if (UseCase == UseCaseID.CHANGE_PASSWORD)
        {
        <b>Change password:</b>
        }
    </TitleContent>

    <DialogContent>

        @if ( UseCase == UseCaseID.DISCLAIMER )
        {
            <div class="container">
                <div class="row">
            <b>
By registering or using this application, you signify your assent to this disclaimer.
            </b>
                </div>
                <div class="row">
In no event will we be liable for any loss or damage including without limitation, indirect or 
consequential loss or damage, or any loss or damage whatsoever arising from loss of data or 
profits arising out of, or in connection with, the use of this website.
                </div>
                <div class="row">
Every effort is made to keep the website up and running smoothly. However, Portfoliostalker or 
owner/workers of this website takes no responsibility for, and will not be liable for, the website being 
temporarily unavailable due to technical issues beyond our control.
                </div>
                <div class="row">
We may revise the Terms of Use and Data Privacy Policy at any time and without notice to you. 
You are responsible for regularly reviewing the Terms of Use and Data Privacy Policy. The revised 
Terms of Use and Data Privacy Policy will be effective when posted. Your continued use of the 
application indicates your acceptance to any revised Terms of Use and Data Privacy Policy.
                </div>
            </div>
        }
        else
        {
            @if ( _showBusySignal == true )
            {
                <MudProgressCircular Indeterminate="true"></MudProgressCircular>        
            }

            @if (UseCase == UseCaseID.REGISTER)
            {
            <MudTextField  @bind-Value="_userinfo.Username" Label="Username" Variant="Variant.Outlined" />
            }
            @if (UseCase == UseCaseID.CHANGE_PASSWORD || UseCase == UseCaseID.CHANGE_EMAIL)
            {
            <MudTextField  @bind-Value="_userinfo.CurrentPassword" Label="Password" Variant="Variant.Outlined" InputType="InputType.Password" />
            }
            @if (UseCase == UseCaseID.REGISTER || UseCase == UseCaseID.CHANGE_PASSWORD)
            {
            <MudTextField  @bind-Value="_userinfo.NewPassword" Label="New Password" Variant="Variant.Outlined" InputType="InputType.Password" />
            <MudTextField  @bind-Value="_userinfo.NewPassword2" Label="Re-enter" Variant="Variant.Outlined" InputType="InputType.Password" />
            }
            @if (UseCase == UseCaseID.REGISTER || UseCase == UseCaseID.CHANGE_EMAIL)
            {
            <MudTextField  @bind-Value="_userinfo.Email" Label="Email Address" Variant="Variant.Outlined" />
            }
        }
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="DlgCancel">Cancel</MudButton>
        @if ( UseCase == UseCaseID.DISCLAIMER )
        {
        <MudButton Color="Color.Primary" OnClick="DlgAgreed">Agreed!</MudButton>
        }
        else
        {
        <MudButton Color="Color.Primary" Disabled="@_showBusySignal"  OnClick="DlgOkAsync">Proceed</MudButton>
        }
    </DialogActions>
</MudDialog>
