@namespace PfsDevelUI.Components
@using PFS.Types
@using PFS.Shared.Types

<MudDialog>
    <TitleContent>

        <MudToggleIconButton Toggled="@_fullscreen" ToggledChanged="OnFullScreenChanged"
                        Icon="@Icons.Material.Filled.Fullscreen" Color="@Color.Error" 
                        ToggledIcon="@Icons.Material.Filled.Fullscreen" ToggledColor="@Color.Success" />

        Select Stock:

    </TitleContent>

    <DialogContent>
        <MudSelect T="MarketMeta" Label="Market" Strict="true" Variant="Variant.Outlined" Format="F2" ValueChanged="MarketSelectionChangedAsync" >
            @{
                foreach (MarketMeta market in _markets)
                {
                    <MudSelectItem  T="MarketMeta" Value="@market">@market.ID [@market.Name]</MudSelectItem>
                }
            }
        </MudSelect>

        <MudTextField @bind-Value="_search" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" 
                      AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" 
                      DebounceInterval="500" OnDebounceIntervalElapsed="OnSearchChangedAsync" />

        @if (_viewedStocks != null)
        {
            <MudContainer Style="max-height: 300px; overflow-y: scroll">
                <MudList Clickable="true" @bind-SelectedValue="@m_selStockTicker" >
                    @{
                        foreach (StockMeta stock in _viewedStocks)
                        {
                            <MudListItem Value="@stock.Ticker" Text="@stock.Ticker"> @stock.Ticker @stock.Name </MudListItem>
                        }
                    }
                </MudList>
            </MudContainer>
        }
    </DialogContent>

    <DialogActions>

        @if (AllowAddNewCompanies == true)
        {
        <MudToggleIconButton Toggled="@_allCompanies" ToggledChanged="OnSearchRangeChangedAsync"
                                Icon="@Icons.Material.Filled.CloudOff" Color="@Color.Error" 
                                ToggledIcon="@Icons.Material.Filled.CloudQueue" ToggledColor="@Color.Success" />

        <span>@(_allCompanies ? "All Companies" : "Existing Companies")</span>
        }

        <MudButton OnClick="DlgCancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="DlgAddStock">@_addButton</MudButton>
    </DialogActions>
</MudDialog>
