@namespace PfsDevelUI.Components
@using PFS.Shared.UiTypes

@if ( _viewMode == true )
{
    <MudSimpleTable Style="overflow-x: auto;">
    <tbody>
        <tr>
            @for ( int gr = 0; gr < TagGroupsUsage.MaxTagGroups; gr++ )
            {
            <td>
                @if ( _allFields[gr] == null )
                {
                    @("Group N/A")
                }
                else if ( string.IsNullOrWhiteSpace(_selectedField[gr]) == true )
                {
                    @(_headers[gr] + ": ") <b>@UnSelected</b>
                }
                else
                {
                    @(_headers[gr] + ": ") <b>@(_selectedField[gr])</b>
                }
            </td>
            }
        </tr>
    </tbody>
    </MudSimpleTable>
}
else
{
    <MudSimpleTable Style="overflow-x: auto;">
    <tbody>
        <tr>
            <!-- just keep these separate/manual, did try foreach and it just keep giving null crashes, doesnt like to do arrays[gr] -->

            <td>
            @if (_allFields[0] == null)
            {
                @("Group N/A")
            }
            else
            {
                <MudSelect T="string" Label="@_headers[0]" @bind-Value="_selectedField[0]" >
                    @foreach (string value in _allFields[0])
                    {
                        <MudSelectItem  T="string" Value="@value">@value</MudSelectItem>
                    }
                </MudSelect>
            }
            </td>

            <td>
            @if (_allFields[1] == null)
            {
                @("Group N/A")
            }
            else
            {
                <MudSelect T="string" Label="@_headers[1]" @bind-Value="_selectedField[1]" >
                    @foreach (string value in _allFields[1])
                    {
                        <MudSelectItem  T="string" Value="@value">@value</MudSelectItem>
                    }
                </MudSelect>
            }
            </td>

            <td>
            @if (_allFields[2] == null)
            {
                @("Group N/A")
            }
            else
            {
                <MudSelect T="string" Label="@_headers[2]" @bind-Value="_selectedField[2]" >
                    @foreach (string value in _allFields[2])
                    {
                        <MudSelectItem  T="string" Value="@value">@value</MudSelectItem>
                    }
                </MudSelect>
            }
            </td>
        </tr>

    </tbody>
    </MudSimpleTable>
}
